.background {
  background: #18181f;
  margin-top: 15px;
  margin-left: 15px;
  height: 140vh;
}

@media (max-width: 767px) {
  .background {
    height: 100%;
    margin-top: 0;
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .ellipse {
    display: none;
  }
}
.ellipse {
  position: absolute;
  width: 600px;
  height: auto;
  left: -279px;
  top: -127px;
  background: #00464a;
  opacity: 0.65;
  filter: blur(147px);
}

/* .ellipse2 {
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: auto;
  width: 676px;
  height: 676px;
  left: 1116px;
  top: -256px;
  background: #08083c;
  opacity: 0.55;
  filter: blur(147px);
} */

.hero-text h1 {
  color: #ffffff;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.025em;
  /* z-index: 1; */
}

.hero-text p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 110%;
  line-height: 158%;
  color: #d1d1d2;
  opacity: 0.8;
}

.union {
  background: none;
}
.hero-text span {
  /* background: -webkit-linear-gradient(to bottom, #00ffd1, #90ffca, #fff96a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */

  /* font-weight: bolder; */
  background-image: linear-gradient(to right, #fff96a, #90ffca, #00ffd1);
  -webkit-background-clip: text; /* clip the gradient to the text */
  -webkit-text-fill-color: transparent; /* make the text transparent */
}

.banner-image {
  /* position: absolute;
  left: 939px;
  top: 99px; */
  display: flex;
  justify-content: center;
  /* background: none; */
  z-index: 1;
}

.banner-image img {
  height: auto;
  width: 80%;
  background: #8ac186;
  border-radius: 20px;
}

.flex-container {
  position: absolute;
  left: 418px;
  top: 229px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  width: auto;
}

.banner-image3 {
  position: absolute;
  width: 316.76px;
  height: 468.01px;
  left: 1349.95px;
  top: 248.96px;
  /* padding-left: 50px; */
  /* overflow: hidden; */
}

.vector {
  position: absolute;
  height: 314.75px;
  left: 75%;
  right: -13.96%;
  top: 122px;
  background: none;
}

.vector2 {
  position: absolute;
  height: 154.04px;
  left: 56.2%;
  right: 23.05%;
  top: 511.62px;
  z-index: 0;

  /* Green - 1 */

  background: none;
  /* transform: rotate(5deg); */
}
