.nav {
  position: absolute;
  color: #989899;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  width: 100vw;
  top: 22px;
  justify-content: space-between;
}

@media (max-width: 1200px) {
  #menu {
    display: none;
  }
}

.dot {
  margin: auto 6px;
  width: 4px;
  height: 4px;
}

/* .site-logo {
  background: none;
  position: relative;
  margin-top: -6px;
  width: 113px;
  height: 41px;
  margin-right: 20px;
} */

.nav-btn {
  margin-top: -2px;
  color: #00df9a;
  border-color: #00df9a;
  font-size: 14px;
  font-weight: 500;
}

/* Previous Code */

/* .dropdown-toggle::after {
  display: none !important;
} */
