.input {
  position: absolute;
  width: 300px;
  height: 61px;
  left: 140px;
  top: 533px;

  /* White */

  background: #fff;
  border-radius: 6px;
  z-index: 0;
}

.input2 {
  position: relative;
  width: 179px;
  height: 22px;
  left: 191px;
  top: 552px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 158%;
}
